<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Analysis of Clypeaster subdepressus gonadal sections{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">
    {% block extra-head %}{% endblock %}
  </head>
  <body>
    <section class="container">

      <nav>
      <ul>
        <li><a href="/admin/">admin</a></li>
        <li><a href="/">home</a></li>

        <li>
        <a href="/staging/">staging area</a>
        <ul>
          <li><a href="/unstaged/">unstaged</a></li>
          <li><a href="/prestaged/">prestaged</a></li>
          <li><a href="/staged/">staged</a></li>
        </ul>
        </li>

        <li>
        results
        <ul>
          <li>gonadal index</li>
          <li><a href="/results/tubules/">tubule measurements</a></li>
        </ul>
        </li>
      </ul>

      </nav>

      <header class="main">
        <hgroup class="main">
        <h1>Analysis of <em>Clypeaster subdepressus</em> gonadal histological sections</h1>
        </hgroup>
      </header>

      <section class="main" id="content">
      {% block content %}{% endblock %}
      {% block sidebar %}{% endblock %}
      </section>

      <footer class="main"> </footer>

    </section>
  </body>
</html>
