<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Analysis of Clypeaster subdepressus gonadal sections{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}colorbox.css" type="text/css">
        <script src="{{ MEDIA_URL }}jquery.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}jquery.colorbox.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                    $("a[rel='section']").colorbox({width:"95%"});
                    });
        </script>
        {% block extra-head %}{% endblock %}
    </head>
    <body>
        <section class="container">
            <nav>
                <a href="/admin/">admin</a>
                <a href="/">home</a>
                <a href="/staging/">staging area</a>
                <a href="/unstaged/">unstaged</a>
                <a href="/prestaged/">prestaged</a>
                <a href="/staged/">staged</a>
            </nav>
            <header class="main">
            <hgroup class="main">
            <h1>Analysis of <em>Clypeaster subdepressus</em> gonadal histological sections</h1>
            </hgroup>
            </header>
            <section class="main" id="content">
            {% block content %}{% endblock %}
            {% block sidebar %}{% endblock %}
            </section>
            <footer class="main">
            </footer>
        </section>
    </body>
</html>
