{% extends 'base.html' %}
{% block content %}

<h2>General descriptive table</h2>
<table border="1">
    <tr>
        <th>Specimen</th>
        <th>Gender</th>
        <th>Collection date</th>
        <th>Location</th>
        <th>Sections</th>
        <th>Tubules</th>
        <th>GLA index</th>
    </tr>
    {% for specimen in specimens %}
    <tr>
        <td>{{ specimen }}</td>
        <td>{{ specimen.gender }}</td>
        <td>{{ specimen.collection_date }}</td>
        <td>{{ specimen.location }}</td>
        <td>
          {% if specimen.section_set.all %}
          {% for section in specimen.section_set.all %}
          <a href="{{ section.get_absolute_url }}">{{ section.filename|slice:'-16:' }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
          {% endif %}
        </td>
        <td>
            {% if specimen.tubule_set.all %}
            <table border="1">
                <tr>
                    <th>Photo</th>
                    <th>Cross section</th>
                    <th>Germ layer</th>
                    <th>GLA index</th>
                </tr>
                {% for tubule in specimen.tubule_set.all %}
                <tr>
                    <td><a href="{{ tubule.get_absolute_url }}">{{ tubule.filename }}</a></td>
                    <td>{{ tubule.cross_section|floatformat:0 }}</td>
                    <td>{{ tubule.germ_layer|floatformat:0 }}</td>
                    <td>{{ tubule.gla_index|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </td>
        <td>
          {% if specimen.gla_indexes_mean %}
          {{ specimen.gla_indexes_mean|floatformat:2 }} &plusmn; {{ specimen.gla_indexes_sd|floatformat:2 }}
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<h2>Data grouped by date</h2>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Cross sections mean</th>
        <th>Germ layers mean</th>
        <th>GLA indexes mean</th>
    </tr>
    {% for avg in means_by_date %}
    {% if avg.cross_sections_mean__avg %}
    <tr>
        <td>{{ avg.collection_date }}</td>
        <td>{{ avg.cross_sections_mean__avg|floatformat:0 }}</td>
        <td>{{ avg.germ_layers_mean__avg|floatformat:0 }}</td>
        <td>{{ avg.gla_indexes_mean__avg|floatformat:2 }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}
