{% extends 'base.html' %}
{% block content %}

<table border="1">
    <tr>
        <th>Specimen</th>
        <th>Gender</th>
        <th>Collection date</th>
        <th>Location</th>
        <th>Tubules</th>
    </tr>
    {% for specimen in specimens %}
    <tr>
        <td>{{ specimen }}</td>
        <td>{{ specimen.gender }}</td>
        <td>{{ specimen.collection_date }}</td>
        <td>{{ specimen.location }}</td>
        <td>{{ specimen.tubule_set.all }}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
