{% extends 'base.html' %}

{% block content %}

<h2>Male {{ status }} sections</h2>

{% if sections_male %}

  {% if status == 'prestaged' %}
    {% regroup sections_male by pre_stage as groups %}
  {% else %}
    {% regroup sections_male by stage as groups %}
  {% endif %}

  {% include 'thumbs.html' with groups=groups %}

{% else %}
No {{ status }} sections of males!
{% endif %}

<h2>Female {{ status }} sections</h2>

{% if sections_female %}

  {% if status == 'prestaged' %}
    {% regroup sections_female by pre_stage as groups %}
  {% else %}
    {% regroup sections_female by stage as groups %}
  {% endif %}

  {% include 'thumbs.html' with groups=groups %}

{% else %}
No {{ status }} sections of females!
{% endif %}

{% endblock %}
