{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<h2>Staging area</h2>
<h3>{{ ratio }}% complete ({{ left }} of {{ total }} histological sections)</h3>
<div>
    {% thumbnail section.photo "1250" crop="center" as im %}
    <a href="{{ MEDIA_URL }}{{ section.photo }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    {% empty %}
    [no image]
    {% endthumbnail %}



</div>
<div>
    {{ section.objective }} {% if section.pas %}| PAS{% endif %}
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ section.id }}" name="section" />
        <input type="hidden" value="" name="edit" />
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
