{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<h2>Staging area</h2>

<div id="stats">
  <strong>Prestaged:</strong> {{ stats.prestaged_ratio|floatformat:1 }} % complete ({{ stats.prestaged }} sections)
  <strong>Staged:</strong> {{ stats.staged_ratio|floatformat:1 }} % complete ({{ stats.staged }} sections)
  <strong>Total:</strong> {{ stats.total }} histological sections
</div>

<div id="thumbnail">
    {% thumbnail section.photo "1250" crop="center" as im %}
    <a href="{{ MEDIA_URL }}{{ section.photo }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    {% empty %}
    [no image]
    {% endthumbnail %}
</div>

<div id="edit-form">
    {{ section.objective }} {% if section.pas %}| PAS{% endif %}
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ section.id }}" name="section" />
        <input type="hidden" value="" name="edit" />
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
