{% extends 'base.html' %}

{% block content %}
<h2>Staging area</h2>
<h3>{{ ratio }}% complete ({{ left }} of {{ total }} histological sections)</h3>
<div>
    <img src="{{ MEDIA_URL }}{{ section.photo }}" width="100%" />
</div>
<div>
    {{ section.objective }} {% if section.pas %}| PAS{% endif %}
    <form action="." method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" value="{{ section.id }}" name="section" />
        <input type="hidden" value="" name="edit" />
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock %}
